body{
  background: url(psd/site-BG.png) repeat;
}

.container{
  position:relative;
  width:800px;
  height:100px;
  min-height: 100%;
  margin:0px auto;
}

img{
  -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}

#menu-outer {
  height: 84px;
  background: url(images/bar-bg.jpg) repeat-x;
}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 296px;
  list-style: none;
  padding-top: 20px;
  }
  ul#horizontal-list li {
    display: inline;
  }