.jumbotron {
  background-image: url("copy2.jpg") !important;
  background-size: cover;
  background-position: 50% 70%;
  min-height: 550px;
  margin-bottom: 0px;
  color: white; }

.active a {
  background-color: transparent !important;
  color: #b41832 !important; }

h2, h1 {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif !important; }

body {
  font-family: "Abel", sans-serif;
  font-size: 170%; }

.google-maps {
  padding: 20px 0px 20px 0px;
  text-align: center; }

a {
  color: #b41832; }

.textspot {
  text-align: center;
  padding-top: 100px; }

.navbar {
  min-height: 70px;
  margin-bottom: 0px;
  border-bottom: 0px;
  background-color: rgba(23, 27, 29, 0.85); }
  .navbar .navbar-spot .navbar-collapse .navlinks a {
    color: #fff; }
  .navbar img {
    height: 100%; }
  .navbar .navbar-brand {
    padding: 5px 0px 5px 15px; }

body {
  background-color: #231f20; }

.navbar-spot {
  padding-top: 10px; }

.main {
  padding-top: 20px;
  background-color: #231f20;
  color: #d0d0d0;
  margin: 0px auto;
  max-width: 1400px; }

.twitchs {
  display: inline-block;
  margin: 20px auto;
  padding: 0px 15px 0px 15px; }

.streams {
  margin: 0px auto;
  display: inline-block;
  text-align: center;
  width: 100%; }

.scrolled {
  background-color: red; }

.btn {
  background-color: transparent;
  border-color: white; }

.btn:hover {
  background-color: #b41832; }

.mappy {
  width: 80%;
  height: 300px; }

.venue {
  background-color: #b41832; }
