@font-face { 
	font-family:'Boing';
	src:url('saturno.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

h3{
	
}
.boing{
	font-family:'Boing';
}
.topdisplay{
	text-align:center;
}
.row{
	margin: 0 auto;
	text-align:center;
}
.description{
	margin: 0 auto;
}
p{
	font-size:130%;
}

@media (min-width:0px) {
  .move1{
  	display:inline-block;
  }
  .description{
  	padding-top:0px;
  	padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .move1{
  	display:block;
  }
  .description{
  	padding-top: 100px;
  }
}

